.slider {
    margin-bottom: 5%;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 200px;
    }
    &__img {
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        font-size: 30px;
        text-align: center;
        color: white;
        font-weight: bold;
        opacity: 1;
        transition: opacity 0.7s ease-in;
        &-1 {
            background-image: url("../img/image-1.jpg");
        }
        &-2 {
            background-image: url("../img/image-2.jpg");
        }
        &-3 {
            background-image: url("../img/image-3.jpg");
        }
        &-4 {
            background-image: url("../img/image-4.jpg");
        }
        &-5 {
            background-image: url("../img/image-5.jpg");
        }
        &\--big {
            width: 30%;
            height: 100%;
        }
        &\--medium {
            width: 15%;
            height: 50%;
        }
        &\--small {
            width: 5%;
            height: 25%;
        }
    }
    &__shuffle {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
    }
}